.home {
    display: flex;
    flex-direction: column;
}

.User{
    display: flex;
}
.User-identifier {
    display: flex;
    flex-direction: column;
}
.User-identifier h1{
    margin: 70px 0 0 107px;
    display: flex;
}
.User-name{
    color: red;
    margin-left: 1rem;
}
.User-identifier > h3{
    display: flex;
    text-align: left;
    margin-left: 107px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.Graph{
    display: flex;
}

.nutriscore{
    width: 20%;
    float: right;

}