.home {
    display: flex;
    flex-direction: column;
}

.User{
    display: flex;
}
.User-identifier {
    display: flex;
    flex-direction: column;
}
.User-identifier h1{
    margin: 70px 0 0 107px;
    display: flex;
}
.User-name{
    color: red;
    margin-left: 1rem;
}
.User-identifier > h3{
    display: flex;
    text-align: left;
    margin-left: 107px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 258px);
    grid-template-rows: repeat(4, 124px);
    row-gap: 39px;
    column-gap: 30px;
    margin-left: 209px;
}

.weeklyactivity{
    grid-column: 1 / 3;

}
.TimeSessions{
    grid-row-end: 5;
}

.Performance{
    grid-row-end: 5;
}
.ScorePerf{
    grid-row-end: 5;
}

.Nutri-calorie{
    grid-column-start: 4;
    grid-row-start: 1;
}
.Nutri-protein{
    grid-column-start: 4;
    grid-row-start: 2;
}
.Nutri-carbs{
    grid-column-start: 4;
    grid-row-start: 3;
}
.Nutri-fat{
    grid-column: 4;
    grid-row: 4;
}
